@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #153448;
    --color-secundario: #3C5B6F;
    --color-terceario: #948979;
    --color-hover: #DFD0B8;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header {
    padding: 2% 0 0 15%;
}

.header_menu {
    display: flex;
    gap: 80px;
}

.header_menu_link {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terceario);
    text-decoration: none;
}

.presentacion {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.about {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.presentacion_contenido {
    width: 50%;
    display: flex; /* coloca los cuadrados uno al lado del otro */
    flex-direction: column;
    gap: 40px; /* para definir espacios iguales entre elementos */
}

.about_contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.presentacion_contenido_titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo_destaque {
    color: var(--color-terceario);
}

.presentacion_contenido_texto {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion_enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulos {
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion_enlaces_link {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--color-terceario);
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
}

.presentacion_enlaces_link:hover {
    background-color: var(--color-hover);
}

.presentacion_imagen {
    width: 50%;
}

.about_imagen {
    width: 100%;
}

.footer {
    background-color: var(--color-terceario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
}

 @media (max-width: 1100px) { /* para diseño responsivo */
    .header {
        padding: 10%;
    }

    .header_menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .about {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion_contenido {
        width: auto; /* Se adaptan a las secciones (al elemento padre) */
    }

    .about_contenido {
        width: auto;
    }

    .presentacion_imagen {
        height: 400px;
        width: 300px;
    }
}
